@import url(animations.css);

#info-bird-btn-softwares 
{
  row-gap: 6em;
}

#info-card 
{
  grid-row-start: 1;

  justify-items: center;
  /* padding-top: 10vh; */

  perspective: 500px;

  article 
  {
    text-align: center;

    box-shadow: 50px 50px 10px rgba(0, 0, 0, 0.308);

    border: 1px solid black;
    border-radius: 30px;
    background-color: var(--bg-gradient-1);

    width: 400px;
    height: 450px;

    margin-right: 100px;
    
    transform: rotate3d(0, -1, 0, 20deg);

    p 
    {
      font-size: 26px;

      padding-top: 60px;
    }
  }
}

#bird 
{
  grid-row-start: 2;
  justify-items: center;

  img 
  {
    padding-top: 10vh;
    width: 300px;
  }
}

#btn-5
{
  grid-column-start: 2;
  grid-row-start: 1;

  justify-self: center;
  align-items: center;

  column-gap: 2em;

  /* padding-top: 100px; */

  .card 
  {
    box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.308);
  }

  .card img
  {
    width: 120px;
    height: 120px;
    object-fit: cover;

    background-color: var(--primary-color);
  }

  .card span
  {
    position: relative;
    justify-self: center;
    
    color: black;
    text-align: center;
    ;
  }

  div:nth-child(5)
  {
    grid-column-start: 3;
  }
}

.card-hover 
{
  perspective: 500px;
}

.card-hover:hover 
{
  .card {
    animation: up-down-spin 3s infinite linear;
  }

  span
  {
    animation: blink-color 300ms infinite linear;
  }
}

#softwares-links 
{
  align-self: center;
  justify-self: center;
}